section {
  background-color: #b9b9cc;
  padding: 1rem;
  border: solid 3px black;
}

#cards {
  display: grid;
  /* background-color: #b9b9cc; */
  gap: 1rem;
}

@media only screen and (min-width: 32.5rem) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
