:root {
  /* CSS HEX */
  --caribbean-current: #036b6eff;
  --selective-yellow: #fcd20f;
  --dark-green: #002a2bff;
  --azure-web: #fffff;

  /* CSS HEX */
  --primary-color: #036164;
  --accent-color-1: #fcd20f;
  --accent-color-2: #002a2b;
  --accent-color-3: #fff;
  --accent-color-4: #fff;
}
.banner {
  width: 100%;
  background-color: var(--accent-color-1);
  padding: 1rem;
  text-align: center;
}

.banner-message {
  font-size: 16px;
  color: #000;
  margin-right: 10px;
  max-width: 75%;
  text-align: center;
}

.banner-close {
  background-color: var(--accent-color-1);
  color: #333;
  border: none;
  padding: 5px 10px;
  font-size: 1.75rem;
  cursor: pointer;
}

.banner-close:hover {
  font-size: 2rem;
  transition: 0.1s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 83, 85);
  background: linear-gradient(
    0deg,
    rgba(2, 83, 85, 1) 19%,
    rgba(0, 101, 107, 1) 85%
  );
  padding: 1rem 1rem;

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-cta {
    display: none;
  }

  .nav {
    .contents {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      list-style-type: none;
      position: absolute;
      left: 0;
      top: 7rem;
      background: rgb(2, 83, 85);
      background: linear-gradient(
        0deg,
        rgba(2, 83, 85, 1) 19%,
        rgba(0, 101, 107, 1) 85%
      );
      width: 100vw;
      padding: 0;
      margin: 0;

      &.active {
        display: flex;
      }
    }

    .menu {
      display: block;
      background: none;
      border: none;
      margin-left: auto;

      .icon {
        display: none;
        &.active {
          display: unset;
        }
      }
    }

    .link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 2.1rem;

      &.active,
      &:hover {
        color: #fff;
        transition: color 300ms;
      }
    }
  }
}

.c-main {
  .hero-section {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../images/karlo-king-WRBEzYe6TIU-unsplash.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;

    .hero-container {
      padding: 3rem;
      .heading {
        color: #fff;
        margin: 0;
        padding: 1rem 0 1.5rem 0;
        font-size: 4.8rem;
      }

      .hero-cta {
        background-color: var(--primary-color);
        color: #fff;
        padding: 0.75rem;
        border: none;
        border-radius: 3px;
        font-size: 2.4rem;
        font-weight: 500;
      }
    }
  }

  .weather {
    background-color: var(--primary-color);
    padding: 1rem;
    .weather-section-title {
      padding: 0;
      margin: 0;
      color: #fff;
      text-align: center;
    }
    .weather-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color);
      color: #fff;
      padding: 1.6rem 2.4rem;

      figure {
        margin: 0;
        padding: 0 2rem;
      }

      img#weather-icon {
        width: 60px;
        height: 60px;
      }

      .condition {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    article.five-day-weather-forcast {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 1rem 10rem;
        list-style-type: none;
        margin: auto;
        padding: 2rem;
        background-color: var(--primary-color);
        color: #fff;
        max-width: 75rem;
        flex-wrap: wrap;

        li {
          // flex-basis: calc(20% - 20px);
          margin: 0;
          text-align: center;
          padding: 0;

          h2 {
            font-size: 1.4rem;
            font-weight: 500;
            padding: 0 0 0.5rem 0;
            margin: -15px 0 0;
          }

          img.weather {
            width: 70%;
            padding: 0;
            margin: 0;
          }

          p.minValues,
          p.maxValues {
            font-size: 1.2rem;
            display: inline;
          }
        }
      }
    }
  }

  .barangays-section {
    padding: 5rem 2.4rem;
    .barangays-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.8rem;
      margin: 0;
      padding: 0;
      list-style-type: none;
      max-width: 50rem;
      margin: auto;
      text-align: center;

      .text {
        padding: 0.5rem 0 0 0;
        margin: 0;
      }
    }
  }

  .events-section {
    background-color: var(--primary-color);
    padding: 2rem;
    color: #fff;

    .events-cards {
      overflow-x: auto;
      // flex-wrap: wrap;
      justify-content: space-between;
      display: flex;

      .events {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        flex-direction: column;
        min-width: fit-content;

        &:not(:last-of-type) {
          margin-right: 2.4rem;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;

      .event-load-btn {
        padding: 0.3rem;
        border: none;
        border-radius: 3px;
      }
    }
  }

  .ads-section {
    padding: 4.8rem;
    .ads-cards {
      .ads {
        padding: 2rem;
        .ad-name {
          padding: 1rem;
          font-size: 1.75rem;
          font-weight: 600;
        }

        .ad-card-top {
          display: flex;
          align-items: center;
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }
  }
}

.footer {
  background-color: var(--primary-color);
  padding: 3.2rem;

  .text {
    color: #fff;
    margin: 0;
    font-weight: 600;
    text-align: center;

    &.date {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 0.6rem;
    }
  }
}

// join page
.join-section {
  background-color: #f5f5f5; /* Set the desired background color */

  .form-title {
    // text-align: center;

    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    padding: 2.5rem 2rem;
    color: #323131; /* Set the desired text color */
  }

  .join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;

    .left-column-container {
      // display: flex;
      // justify-content: center;
      // align-items: center;

      .form-field-container {
        margin-bottom: 1.5rem;

        .labels {
          display: block;
          font-weight: bold;
          margin-bottom: 0.5rem;
          color: #555657; /* Set the desired label text color */
        }

        .inputs {
          width: 75%;
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: border-color 0.3s ease;
          color: #555657; /* Set the desired input text color */

          &:focus {
            outline: none;
            border-color: rgb(12, 12, 12);
          }
        }

        textarea {
          width: 75%;
          padding: 0.75rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
          transition: border-color 0.3s ease;
          color: #555657; /* Set the desired textarea text color */

          &:focus {
            outline: none;
            border-color: rgb(12, 12, 12);
          }
        }
      }

      .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        width: 75%;

        .form-submit-btn {
          padding: 0.75rem 1.5rem;
          background-color: rgb(1, 75, 76);
          color: #fff;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          font-size: 1rem;
          transition: background-color 0.3s ease;
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }

    .right-column-container {
      // display: flex;
      // justify-content: center;

      .benefits-container {
        // max-width: 400px;

        h2 {
          font-size: 1.5rem;
          margin: 0;
          color: #323131;
          font-weight: 700;
          font-size: 3rem;
        }

        .membership-level {
          margin-bottom: 1.5rem;

          h3 {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            color: #323131;
          }

          ul {
            padding-left: 1.5rem;

            li {
              margin-bottom: 0.25rem;
              color: #555657; /* Set the desired list item text color */
            }
          }
        }
      }
    }
  }
}

// thank you page
.thank-you-section {
  height: 76vh;
  display: flex;
  justify-content: center;

  .thank-you-container {
    text-align: center;
    padding: 2rem;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }
  }
}

.d-main {
  .menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
  }
  .menu button {
    padding: 1rem;
    font-weight: 700;
    border-radius: solid 3px gray;
  }

  .member-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      background-color: #f5f5f5;
      padding: 2rem;

      img {
        width: 35%;
      }

      .name {
        font-size: 1.75rem;
        font-weight: 600;
      }

      .address,
      .phone,
      .website {
        margin-bottom: 5px;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.25rem;
  }

  .grid li {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
  }

  .menu {
    margin-bottom: 20px;

    button {
      margin-right: 10px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  .list img {
    display: none;
  }

  .list li {
    background-color: #eefdff;
  }

  .list li:nth-child(even) {
    background-color: #fff;
  }
}
