@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* CSS HEX */
  --caribbean-current: #036b6eff;
  --selective-yellow: #fcd20f;
  --dark-green: #002a2bff;
  --azure-web: #fffff;
  /* CSS HEX */
  --primary-color: #036164;
  --accent-color-1: #fcd20f;
  --accent-color-2: #002a2b;
  --accent-color-3: #fff;
  --accent-color-4: #fff; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #025355;
  background: linear-gradient(0deg, #025355 19%, #00656b 85%);
  padding: 1rem 1rem; }
  .header .right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .nav-cta {
    display: none; }
  .header .nav .contents {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 7rem;
    background: #025355;
    background: linear-gradient(0deg, #025355 19%, #00656b 85%);
    width: 100vw;
    padding: 0;
    margin: 0; }
    .header .nav .contents.active {
      display: flex; }
  .header .nav .menu {
    display: block;
    background: none;
    border: none;
    margin-left: auto; }
    .header .nav .menu .icon {
      display: none; }
      .header .nav .menu .icon.active {
        display: unset; }
  .header .nav .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.1rem; }
    .header .nav .link.active, .header .nav .link:hover {
      color: #fff;
      transition: color 300ms; }

.main .hero-section {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/karlo-king-WRBEzYe6TIU-unsplash.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0; }
  .main .hero-section .hero-container {
    padding: 3rem; }
    .main .hero-section .hero-container .heading {
      color: #fff;
      margin: 0;
      padding: 1rem 0 1.5rem 0;
      font-size: 4.8rem; }
    .main .hero-section .hero-container .hero-cta {
      background-color: var(--primary-color);
      color: #fff;
      padding: 0.75rem;
      border: none;
      border-radius: 3px;
      font-size: 2.4rem;
      font-weight: 500; }

.main .weather-card {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--primary-color);
  padding: 1.6rem 2.4rem;
  color: #fff; }
  .main .weather-card .element {
    margin: 0.75rem; }

.main .barangays-section {
  padding: 5rem 2.4rem; }
  .main .barangays-section .barangays-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.8rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 50rem;
    margin: auto; }
    .main .barangays-section .barangays-list .text {
      padding: 0.5rem 0 0 0;
      margin: 0; }

.main .events-section {
  background-color: var(--primary-color);
  padding: 2rem;
  color: #fff; }
  .main .events-section .events-cards .events {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem; }
    .main .events-section .events-cards .events .event-img {
      width: 100%;
      height: auto; }
  .main .events-section .btn-container {
    display: flex;
    justify-content: center; }
    .main .events-section .btn-container .event-load-btn {
      padding: 0.3rem;
      border: none;
      border-radius: 3px; }

.main .ads-section {
  padding: 3rem 0; }
  .main .ads-section .ads-card {
    padding: 1rem 4rem; }
    .main .ads-section .ads-card .description {
      font-weight: 700; }
    .main .ads-section .ads-card .ad-name {
      font-weight: 300; }

.footer {
  background-color: var(--primary-color);
  padding: 3.2rem; }
  .footer .text {
    color: #fff;
    margin: 0;
    font-weight: 600;
    text-align: center; }
    .footer .text.date {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 0.6rem; }

.join-section {
  background-color: #f5f5f5;
  /* Set the desired background color */ }
  .join-section .form-title {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    padding: 2.5rem 2rem;
    color: #323131;
    /* Set the desired text color */ }
  .join-section .join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem; }
    .join-section .join-container .left-column-container .form-field-container {
      margin-bottom: 1.5rem; }
      .join-section .join-container .left-column-container .form-field-container .labels {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #555657;
        /* Set the desired label text color */ }
      .join-section .join-container .left-column-container .form-field-container .inputs {
        width: 75%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        color: #555657;
        /* Set the desired input text color */ }
        .join-section .join-container .left-column-container .form-field-container .inputs:focus {
          outline: none;
          border-color: #0c0c0c; }
      .join-section .join-container .left-column-container .form-field-container textarea {
        width: 75%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        transition: border-color 0.3s ease;
        color: #555657;
        /* Set the desired textarea text color */ }
        .join-section .join-container .left-column-container .form-field-container textarea:focus {
          outline: none;
          border-color: #0c0c0c; }
    .join-section .join-container .left-column-container .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      width: 75%; }
      .join-section .join-container .left-column-container .btn-container .form-submit-btn {
        padding: 0.75rem 1.5rem;
        background-color: #014b4c;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        font-size: 2rem;
        font-weight: 700; }
    .join-section .join-container .right-column-container .benefits-container h2 {
      font-size: 1.5rem;
      margin: 0;
      color: #323131;
      font-weight: 700;
      font-size: 3rem; }
    .join-section .join-container .right-column-container .benefits-container .membership-level {
      margin-bottom: 1.5rem; }
      .join-section .join-container .right-column-container .benefits-container .membership-level h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: #323131; }
      .join-section .join-container .right-column-container .benefits-container .membership-level ul {
        padding-left: 1.5rem; }
        .join-section .join-container .right-column-container .benefits-container .membership-level ul li {
          margin-bottom: 0.25rem;
          color: #555657;
          /* Set the desired list item text color */ }

.thank-you-section {
  height: 76vh;
  display: flex;
  justify-content: center; }
  .thank-you-section .thank-you-container {
    text-align: center;
    padding: 2rem; }
    .thank-you-section .thank-you-container h1 {
      font-size: 4rem; }
    .thank-you-section .thank-you-container p {
      font-size: 2rem; }

@media screen and (min-width: 744px) {
  .header {
    justify-content: space-around; }
    .header .nav .contents {
      display: flex;
      flex-direction: row;
      max-width: 100rem;
      margin: auto;
      position: static;
      justify-content: center; }
      .header .nav .contents .link {
        padding: 1.6rem; }
    .header .nav .menu {
      display: none; }
    .header .nav-cta {
      display: block;
      padding: 0.3rem;
      border-radius: 3px;
      border: none; }
    .header .logo {
      padding: 0; }
  .s-home {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3.2rem;
    max-width: 100rem;
    margin: auto; }
    .s-home .top-ribbon {
      grid-column: 1/3; }
    .s-home .barangays-section .barangays-list .card-container {
      display: flex;
      justify-content: center;
      align-items: center; }
    .s-home .events-section {
      display: flex;
      justify-content: space-around;
      padding: 1rem; }
    .s-home .ads-section .ads-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      padding: 1rem 4rem;
      margin: auto;
      max-width: 100rem; } }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }
  html *,
  html *::before,
  html *::after {
    box-sizing: inherit; }
  html body {
    font-size: 1.6rem;
    margin: 0; }
