@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* CSS HEX */
  --caribbean-current: #036b6eff;
  --selective-yellow: #fcd20f;
  --dark-green: #002a2bff;
  --azure-web: #d5e3e4ff;
  /* CSS HEX */
  --primary-color: #036b6e;
  --accent-color-1: #fcd20f;
  --accent-color-2: #002a2b;
  --accent-color-3: #d5e3e4;
  --accent-color-4: #fff; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #025355;
  background: linear-gradient(0deg, #025355 19%, #00656b 85%); }
  .header .nav .contents {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .nav .contents.active {
      display: flex; }
  .header .nav .menu {
    display: block;
    background: none;
    border: none;
    margin-left: auto; }
    .header .nav .menu .icon {
      display: none; }
      .header .nav .menu .icon.active {
        display: unset; }
  .header .nav .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #d1d1d1;
    text-decoration: none;
    font-weight: 700; }
    .header .nav .link.active, .header .nav .link:hover {
      color: #d1d1d1;
      transition: color 300ms; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }
  html *,
  html *::before,
  html *::after {
    box-sizing: inherit; }
  html body {
    font-size: 1.6rem;
    margin: 0; }
