.header {
  .top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(9, 59, 79);
    background: linear-gradient(
      0deg,
      rgba(9, 59, 79, 1) 10%,
      rgba(9, 91, 121, 1) 56%
    );
    padding: 3rem 2rem;

    .profile-pic {
      border-radius: 0.8rem;
    }

    .profile_name {
      padding-left: 2.4rem;
      color: #d1d1d1;
    }
  }

  .nav {
    background-color: rgb(15, 15, 15);

    .contents {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        display: flex;
      }
    }

    .menu {
      background: none;
      border: none;

      .icon {
        display: none;
        &.active {
          display: unset;
        }
      }

      .x-menu {
        display: none;
      }
    }

    .link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem;
      color: #d1d1d1;
      text-decoration: none;
      font-weight: 700;

      &.active,
      &:hover {
        color: #d1d1d1;
        transition: color 300ms;
      }
    }
  }
}

.s-home {
  display: grid;
  grid-row-gap: 2.4rem;
  padding: 0 2.4rem;
  padding-bottom: 2.4rem;

  .heading {
    margin: 0;
    padding-top: 2.4rem;
  }

  .card {
    border: 0.2rem solid rgb(15, 15, 15);

    .contents {
      padding: 1.6rem;
    }

    .card-heading {
      background: rgb(11, 77, 103);
      background: linear-gradient(
        0deg,
        rgba(11, 77, 103, 1) 10%,
        rgba(9, 91, 121, 1) 56%
      );
      text-align: center;
      color: white;
      padding: 1.6rem;
      margin: 0;
    }

    &.activities {
      .list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .item {
          &:not(:last-child) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }

    &.info {
      text-align: center;

      .text {
        margin: 0.8rem 0;
      }
      .weather {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.8rem;
      }
    }
  }
}

.footer {
  background-color: rgb(15, 15, 15);
  padding: 3.2rem;

  .text {
    color: #d1d1d1;
    margin: 0;
    font-weight: 600;
    text-align: center;

    &.date {
      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 0.6rem;
    }
  }
}
