@media screen and (min-width: 744px) {
  .header {
    .nav {
      .contents {
        flex-direction: row;
        max-width: 100rem;
        margin: auto;

        .link {
          padding: 1.6rem;
        }
      }

      .menu {
        .ham-menu {
          display: none;
        }

        .x-menu {
          display: none;
        }
      }
    }
  }

  .s-home {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3.2rem;
    max-width: 100rem;
    margin: auto;

    .heading {
      grid-column: 1/3;
    }
    .card {
    }
  }
}
